<% layout("/layouts/boilerplate") %>
<body>
    
  <div class="row row-cols-lg-1">
    
    <h3 class="row">The information about : <%=listing.title%></h3>

   
    <div class="card" style="width: 35rem;">
        <img src="<%=listing.image %>" class="card-img-top" alt="listing-image">
        <div class="card-body">
          <p class="card-text"><b><%=listing.title%></b>
            <br>
           <b><%=listing.description%></b>
           <br>
           <b>&#8377; <%=listing.price.toLocaleString("en-IN")%></b>
           <br>
           <b><%=listing.location%> , <%=listing.country%></b>
          </p>
          <div class="btns">
              <form method="get" action="/listings/<%=listing._id %>/edit" >
                  <button class="btn btn-danger">Edit info </button>
              </form>
              <br>
              <form method="post" action="/listings/<%=listing._id %>?_method=delete">
                  <button class="btn btn-dark">Delete</button>
              </form>

          </div>
          <br>


        </div>
      </div>

    
    
  </div>
    
</body>
